svg{
  max-height: 95vh;
}
svg #anim{
  $delay: 0s;
  $duration: .13s;
  @mixin transit($on, $off){
    stroke-dashoffset: $on;
    stroke-dasharray: $on;
    transition-delay: $delay;
    .show &{stroke-dashoffset: $off;}
    $delay: $delay + $duration*0.7;
  }
  > *{
    transition: stroke-dashoffset $duration;
  }
  #y-line{
    @include transit(1040px, 750px);
  }
  #y-top{
    @include transit(1040px, 910px);
  }
  #m-vert{
    @include transit(1040px, 580px);
  }
  #m-bottom{
    @include transit(1040px, 900px);
  }
  #m-diag{
    @include transit(1040px, 660px);
  }
}
// 750ms animation
body, svg{
  transition-delay: 1.3s;
  transition-duration: 1.5s;
}

body{
  background: black;
  color: white;
  transition-property: all;
}

svg{
  stroke: white;
  fill: white;
}

.show {
  color: black;
  background-color: white;
  svg{
    stroke: black;
    fill: black;
  }
  .form{
    transition-delay: 3s;
  }
}
